.center {
    text-align: center;
}

.reference{
	text-align: left;
	position: fixed;
	bottom: 0;
	right: 5px;
	font-size: 10px;
}

.underline{
	text-decoration: underline;
}

.centerV {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

body {
    background-color: lightgrey;
}

audio {
    width: 400px;
}

.border {
    text-decoration-style: solid;
}