.center {
    text-align: center;
}

.reference{
	text-align: left;
	position: fixed;
	bottom: 0;
	right: 5px;
	font-size: 10px;
}

.underline{
	text-decoration: underline;
}

.centerV {
    margin: auto;
    padding: 3px 0;
}

body {
    background-color: lightgrey;
}

audio {
    width: 400px;
}

.border {
    text-decoration-style: solid;
}

.imgBorder {
    border: 3px solid dimgrey;
    padding: 0px;
    width: 150px;
}

.textShadow {
    text-shadow: 2px 2px 8px black;
}
